<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.devdungeon.dao.AdminDAO">

<!-- 로그인 -->
	<select id="adminLogin" parameterType="AdminDTO" resultType="AdminDTO">
		select count(*) as count, admin_id, admin_pw, admin_grade from admin
		where admin_id = #{admin_id} AND admin_pw = #{admin_pw}
	</select>
	
<!-- 메인 대쉬보드 -->
	<select id="adminToday" resultType="HashMap">
		SELECT 
    (SELECT COUNT(*) FROM question_board WHERE question_board_status = 0) AS question_board_count,
	 (SELECT COUNT(*) FROM member WHERE DATE_FORMAT(join_date, "%Y-%m-%d") = curdate()) AS join_today,
	 (SELECT COUNT(*) FROM board WHERE DATE_FORMAT(board_date, "%Y-%m-%d") = curdate()) AS board_today,
	 (SELECT COUNT(*) FROM product WHERE DATE_FORMAT(product_date, "%Y-%m-%d") = curdate()) AS new_product,
	 (SELECT COUNT(DISTINCT ip) FROM logs WHERE DATE_FORMAT(created_at, "%Y-%m-%d") = curdate() AND ip is not NULL ) AS today_user;
	</select>








<!-- 사용자 관리 -->
	<select id="adminMember" resultType="MemberDTO">
    	SELECT * 
		FROM member
		<if test="searchType != null">
			WHERE
			<choose>
				<when test="searchType == 'title'">member_name</when>
				<when test="searchType == 'writer'">member_id</when>
			</choose>
			LIKE CONCAT('%', #{searchValue }, '%')
		</if>
		ORDER BY member_no ASC
		LIMIT #{startPage}, 10
    </select>
    
<!-- 사용자 업데이트 -->
	<update id="memberUpdate" parameterType="MemberDTO">
		UPDATE member
		SET member_grade = #{member_grade}
		where member_no = #{member_no}
	</update>
	
<!-- 페이징 서치바 카운트 -->
	<select id="adminMemberCount" parameterType="HashMap" resultType="Integer">
		SELECT COUNT(*) FROM member
		<if test="searchType != null">
			WHERE
			<choose>
				<when test="searchType == 'title'">member_name</when>
				<when test="searchType == 'writer'">member_id</when>
			</choose>
			LIKE CONCAT('%', #{searchValue }, '%')
		</if>
	</select>
	
<!-- 게시글 관리 -->
	<select id="adminBoard"  parameterType="Integer"  resultType="HashMap">
		SELECT b.*, m.member_id
		FROM board AS b
		JOIN member AS m ON b.member_no = m.member_no
		<if test="searchType != null">
			WHERE
			<choose>
				<when test="searchType == 'title'">board_title</when>
				<when test="searchType == 'writer'">member_name</when>
			</choose>
			LIKE CONCAT('%', #{searchValue }, '%')
		</if>
		ORDER BY b.board_no DESC
		LIMIT #{startPage}, 10
	</select>

<!-- 게시글 활성화 비활성화 -->
	<update id="adminBoardDel" parameterType="BoardDTO">
		UPDATE board SET status_no = if(#{status_no}=1,2,1)
		WHERE board_no = #{board_no}
	</update>
	
<!-- 페이징 서치바 카운트 -->
	<select id="boardCount" parameterType="HashMap" resultType="Integer">
		SELECT COUNT(*) FROM board
		<if test="searchType != null">
			WHERE
			<choose>
				<when test="searchType == 'title'">board_title</when>
				<when test="searchType == 'writer'">member_name</when>
			</choose>
			LIKE CONCAT('%', #{searchValue }, '%')
		</if>
    </select>
    
<!-- 로그 데이터 -->
	<select id="AdminLog" parameterType="Integer" resultType="HashMap">
		SELECT *
		FROM logs
		<if test="searchType != null">
			WHERE
			<choose>
				<when test="searchType == 'status_code'">status_code</when>
				<when test="searchType == 'path'">path</when>
				<when test="searchType == 'ip'">ip</when>
				<when test="searchType == 'params'">params</when>
			</choose>
			LIKE CONCAT('%', #{searchValue }, '%')
		</if>
		ORDER BY id DESC
		LIMIT #{startPage}, 10
	</select>
	
<!-- 페이징 서치바 카운트 -->
	<select id="adminLogCount" parameterType="HashMap" resultType="Integer">
		SELECT COUNT(*) FROM logs
		<if test="searchType != null">
			WHERE
			<choose>
				<when test="searchType == 'status_code'">status_code</when>
				<when test="searchType == 'path'">path</when>
				<when test="searchType == 'ip'">ip</when>
				<when test="searchType == 'params'">params</when>
			</choose>
			LIKE CONCAT('%', #{searchValue }, '%')
		</if>
    </select>





<!-- 통계 -->







<!-- 쿠폰발급 -->
	<select id="adminCoupon" parameterType="Integer" resultType="HashMap">
		SELECT * 
		FROM coupon
		<if test="searchType != null">
			WHERE
			<choose>
				<when test="searchType == 'title'">coupon_name</when>
				<when test="searchType == 'writer'">coupon_content</when>
			</choose>
			LIKE CONCAT('%', #{searchValue }, '%')
		</if>
		ORDER BY coupon_type DESC
		LIMIT #{startPage}, 10
	</select>
<!-- 쿠폰 생성의 위한 데이터 뷰에담기 -->
	<select id="AdminCouponView" resultType="HashMap">
		SELECT event_no, event_title
		FROM event
		WHERE status_no = 1;
	</select>
	
<!-- 쿠폰 생성 -->
	<insert id="adminCouponCreate" parameterType="CouponDTO">
		INSERT INTO coupon
 		SET
			event_no = #{event_no},
			coupon_name = #{coupon_name},
			coupon_content = #{coupon_content},
			coupon_end = #{coupon_end}
	</insert>
	
<!-- 쿠폰 삭제 -->
	<delete id="adminCouponDel" parameterType="Integer">
		delete from coupon
		where coupon_type = #{couponDel}
	</delete>
	
<!-- 페이징 서치바 카운트 -->
	<select id="adminCouponCount" parameterType="HashMap" resultType="Integer">
		SELECT COUNT(*) FROM coupon
		<if test="searchType != null">
			WHERE
			<choose>
				<when test="searchType == 'title'">coupon_name</when>
				<when test="searchType == 'writer'">coupon_content</when>
			</choose>
			LIKE CONCAT('%', #{searchValue }, '%')
		</if>
    </select>
    
<!-- QnA -->
	<select id="adminQnA" parameterType="Integer" resultType="HashMap">
		SELECT *, m.member_name
		FROM question_board q JOIN member m ON q.member_no = m.member_no
		<if test="searchType != null">
		WHERE
		<choose>
			<when test="searchType == 'title'">question_board_title</when>
			<when test="searchType == 'writer'">question_board_content</when>
		</choose>
		LIKE CONCAT('%', #{searchValue }, '%')
	</if>
	ORDER BY question_board_no DESC
	LIMIT #{startPage}, 10
	</select>
	
<!-- QnA 답 -->
	<select id="Answer" parameterType="Integer" resultType="QuestionBoardDTO">
		SELECT question_board_title, question_board_content, question_board_no
		FROM question_board
		WHERE question_board_no = #{no}
	</select>
	
<!-- QnA 답 완료 -->
	<insert id="adminAnswerComplete" parameterType="AnswerDTO">
  		INSERT INTO answer_board
  		SET answer_board_title = #{answer_board_title}, 
  			answer_board_content = #{answer_board_content}, 
  			question_board_no = #{question_board_no}
	</insert>
	
<!-- QnA 답 변경 -->
	<update id="adminAnswerChange" parameterType="Integer">
		update question_board
		set question_board_status = 1
		where question_board_no = #{change}
	</update>
	
<!-- 페이징 서치바 카운트 -->
	<select id="adminQnACount" parameterType="HashMap" resultType="Integer">
		SELECT COUNT(*) FROM question_board
		<if test="searchType != null">
			WHERE
			<choose>
				<when test="searchType == 'title'">question_board_title</when>
				<when test="searchType == 'writer'">question_board_content</when>
			</choose>
			LIKE CONCAT('%', #{searchValue }, '%')
		</if>
    </select>
	
<!-- 스토어 -->
	<select id="AdminStore" parameterType="Integer" resultType="HashMap">
		SELECT *
		FROM product
		<if test="searchType != null">
			WHERE
			<choose>
				<when test="searchType == 'title'">product_name</when>
				<when test="searchType == 'writer'">product_price</when>
			</choose>
			LIKE CONCAT('%', #{searchValue }, '%')
		</if>
		ORDER BY product_no DESC
		LIMIT #{startPage}, 10
	</select>
	
<!-- 스토어 페이지 상태변경 -->
	<update id="amdinStoreChange" parameterType="HashMap">
		UPDATE product 
			SET emoticon_authority = if(#{emoticon_authority}=1,2,1)
		WHERE product_no = #{product_no}
	</update>
	
	
<!-- 페이징 서치바 카운트 -->
	<select id="adminStoreCount" parameterType="HashMap" resultType="Integer">
		SELECT COUNT(*) FROM product
		<if test="searchType != null">
			WHERE
			<choose>
				<when test="searchType == 'title'">product_name</when>
				<when test="searchType == 'writer'">product_price</when>
			</choose>
			LIKE CONCAT('%', #{searchValue }, '%')
		</if>
    </select>




<!-- 이벤트 -->
	<select id="AdminEvent" parameterType="Integer" resultType="HashMap">
		SELECT *
		FROM event
		<if test="searchType != null">
			WHERE
			<choose>
				<when test="searchType == 'title'">event_title</when>
				<when test="searchType == 'writer'">event_content</when>
			</choose>
			LIKE CONCAT('%', #{searchValue }, '%')
		</if>
		ORDER BY event_no DESC
		LIMIT #{startPage}, 10
	</select>
	
<!-- 이벤트 작성 -->	
	<insert id="adminEventWrite" parameterType="EventDTO">
		insert into event
		set tag_no = #{tag_no},
			event_title = #{event_title},
			event_content = #{event_content}
	</insert>
	
<!-- 이벤트Del -->
	<update id="AdminEventDel" parameterType="EventDTO">
		UPDATE event SET status_no = if(#{status_no}=1,2,1)
		WHERE event_no = #{event_no}
	</update>

<!-- 페이징 서치바 카운트 -->
	<select id="adminEventCount" parameterType="HashMap" resultType="Integer">
		SELECT COUNT(*) FROM event
		<if test="searchType != null">
			WHERE
			<choose>
				<when test="searchType == 'title'">event_title</when>
				<when test="searchType == 'writer'">event_content</when>
			</choose>
			LIKE CONCAT('%', #{searchValue }, '%')
		</if>
    </select>





<!-- 포인트 정산 -->
	<select id="AdminPoint" parameterType="Integer" resultType="HashMap">
		SELECT *
		FROM event
		<if test="searchType != null">
			WHERE
			<choose>
				<when test="searchType == 'title'">point_title</when>
				<when test="searchType == 'writer'">point_content</when>
			</choose>
			LIKE CONCAT('%', #{searchValue }, '%')
		</if>
		ORDER BY event_no DESC
		LIMIT #{startPage}, 10
	</select>
	
<!-- 페이징 서치바 카운트 -->
	<select id="adminPointCount" parameterType="HashMap" resultType="Integer">
		SELECT COUNT(*) FROM event
		<if test="searchType != null">
			WHERE
			<choose>
				<when test="searchType == 'title'">point_title</when>
				<when test="searchType == 'writer'">point_content</when>
			</choose>
			LIKE CONCAT('%', #{searchValue }, '%')
		</if>
    </select>
 
    

    
	
</mapper>