<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.devdungeon.dao.AdminDAO">
    <select id="adminLogin" parameterType="AdminDTO" resultType="AdminDTO">
       select count(*) as count, admin_id, admin_pw, admin_grade from admin
       where admin_id = #{admin_id} AND admin_pw = #{admin_pw}
    </select>
    
    <select id="adminMember" resultType="MemberDTO">
    	select * from member
    </select>
    

    <select id="adminBoard" parameterType="BoardDTO" resultType="BoardDTO">
		SELECT b.*, m.member_id
		FROM board AS b
		JOIN member AS m ON b.member_no = m.member_no
		ORDER BY b.board_no DESC
		LIMIT 0, 10
    </select>
    
	<update id="adminBoardDel" parameterType="BoardDTO">
		UPDATE board SET status_no = if(#{status_no}=1,2,1)
		WHERE board_no = #{board_no}
	</update>
    

     <select id="Coupon" resultType="CouponDTO">
    	select * from coupon
    </select>
    
    <insert id="adminCouponCreate" parameterType="CouponDTO">
    	INSERT INTO coupon
 		SET
 			event_no = #{event_no},
 			coupon_name = #{coupon_name},
 			coupon_content = #{coupon_content}
    </insert>
    
    <select id="QnA" resultType="QuestionBoardDTO">
    	select * from question_board
    </select>

	<update id="memberUpdate" parameterType="MemberDTO">
		UPDATE member
		SET member_grade = #{member_grade}
		where member_no = #{member_no}
	</update>

	<select id="Answer" parameterType="Integer" resultType="QuestionBoardDTO">
		SELECT question_board_title, question_board_content, question_board_no
		FROM question_board
		WHERE question_board_no = #{no}
	</select>
	
	<delete id="adminCouponDel" parameterType="Integer">
		delete from coupon
		where coupon_type = #{couponDel}
	</delete>

	
	<insert id="adminAnswerComplete" parameterType="AnswerDTO">
  		INSERT INTO answer_board
  		SET answer_board_title = #{answer_board_title}, 
  			answer_board_content = #{answer_board_content}, 
  			question_board_no = #{question_board_no}
	</insert>
	
	<update id="adminAnswerChange" parameterType="Integer">
		update question_board
		set question_board_status = 0
		where question_board_no = #{change}
	</update>

</mapper>