<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.devdungeon.dao.CSJDAO">
    <select id="boardList" parameterType="com.team.devdungeon.dto.CSJshowDTO" resultType="HashMap">
        SELECT *
        FROM boardview
        <if test="searchType != null">
			WHERE
			<choose>
				<when test="searchType == 'title'">board_title</when>
				<when test="searchType == 'writer'">member_name</when>
			</choose>
			LIKE CONCAT('%', #{searchValue }, '%')
        </if>
        ORDER BY board_no DESC
    </select>
 
    <select id="detail" parameterType="Integer" resultType="HashMap">
    	SELECT *
    	FROM boardview
    	WHERE board_no=#{bno}
    </select>
    <select id="memberProfile" parameterType="Integer" resultType="HashMap">
    	SELECT *
    	FROM member
    	WHERE member_no=#{member_no}
    </select>
    <select id="commentList" parameterType="Integer" resultType="HashMap">
    	SELECT *
    	FROM commentview
    	WHERE board_no=#{bno}
    	ORDER BY comment_root,comment_no
    </select>
    
    <update id="likethis" parameterType="Integer">
    	UPDATE board
    	SET
    	board_like = board_like+1
    	WHERE board_no = #{bno}
    </update>
    
    <update id="readthis" parameterType="Integer">
    	UPDATE board
    	SET
    	board_read = board_read+1
    	WHERE board_no = #{bno}
    </update>
    
    <update id="deleteByUser" parameterType="Integer">
    	UPDATE board
    	SET
    	status_no = 2
    	WHERE board_no = #{bno}
    </update>
   
    <update id="commentDelete" parameterType="Integer">
    	UPDATE board_comment
    	SET
    	status_no = 2
    	WHERE comment_no = #{cno}
    </update>
    
    <insert id="boardWrite" parameterType="HashMap">
		INSERT INTO board
		SET
		member_no = (SELECT member_no FROM member WHERE member_name=#{member_name} )
		,board_title = #{title}
		,tag_no = #{tag}
		,category_no = #{category}
		,board_content = #{content}    
    </insert>
    
    <insert id="commentWrite" parameterType="HashMap" statementType="CALLABLE">
    	{CALL
    			RootComment(
    				#{board_no, mode=IN,jdbcType=INTEGER}
    				,#{writer, mode=IN,jdbcType=VARCHAR}
    				,#{content, mode=IN,jdbcType=VARCHAR}
    		)
    	}
    </insert>
    
    <insert id="replyCommentWrite" parameterType="HashMap">
    	INSERT INTO board_comment
    	SET
    	board_no = #{board_no}
    	,comment_writer = (SELECT member_no FROM member WHERE member_name = #{writer})
    	,comment_content = #{content}
    	,comment_depth = 1
    	,comment_root = #{root}
    </insert>
    
    <select id="faqList" parameterType="com.team.devdungeon.dto.CSJshowDTO" resultType="HashMap">
    	SELECT *
    	FROM question_board
    </select>
    
    <update id="updateBoard" parameterType="HashMap">
    	UPDATE board
    	SET
    	board_title = #{title}
    	,board_content = #{content}
    	,tag_no = #{tag}
    	WHERE board_no = #{board_no}
    </update>
    
    <insert id="banBoard" parameterType="HashMap">
    	INSERT INTO ban_board
    	SET
    	board_no = #{banBoard}
    	,ban_member_no = (SELECT member_no FROM member WHERE member_name = #{banMember})
    	,member_no = (SELECT member_no FROM member WHERE member_name = #{singoman})
    	,ban_content = #{banWhy}
    </insert>
    <insert id="banComment" parameterType="HashMap">
    	INSERT INTO ban_comment
    	SET
    	board_no = #{banBoard}
    	,comment_no = #{banComment}
    	,ban_member_no = (SELECT member_no FROM member WHERE member_name = #{banMember})
    	,member_no = (SELECT member_no FROM member WHERE member_name = #{singoman})
    	,ban_content = #{banWhy}
    </insert>
</mapper>