<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.devdungeon.dao.HJHBoardDAO">

    <select id="boardList"  parameterType="Integer"  resultType="HashMap">
        SELECT board_no,member_name,board_title,member_no,board_date,board_like,board_read,comment_cnt,tag_name, bno
        FROM boardview
        <if test="searchType != null">
         	WHERE 
			<choose>
				<when test="searchType == 'title'">board_title</when>
				<when test="searchType == 'writer'">member_name</when>
			</choose>
			LIKE CONCAT('%', #{searchValue }, '%')
        </if>
        ORDER BY board_no DESC
        LIMIT #{startPage}, 10
    </select>
    
    <select id="boardCount" parameterType="HashMap" resultType="Integer">
        SELECT COUNT(*) FROM boardview
         <if test="searchType != null">
			WHERE
			<choose>
				<when test="searchType == 'title'">board_title</when>
				<when test="searchType == 'writer'">member_name</when>
			</choose>
			LIKE CONCAT('%', #{searchValue }, '%')
        </if>
    </select>
    
    <insert id="boardWrite" parameterType="HashMap">
		INSERT INTO board(member_no, tag_no, status_no, board_title, board_content, category_no)
		VALUES((SELECT member_no FROM member WHERE member_id = '${member_id}'), 1, 1, '${board_title}', '${board_content}', 1)
		<selectKey resultType="int" keyProperty="writtenNo" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey> 
   </insert>
    
    <select id="boardDetail" parameterType="String" resultType="HashMap">
  		SELECT board_no,member_name,board_title,member_no,board_date,board_like,board_read,board_content,member_id
  		FROM boardview
  		WHERE board_no = #{board_no}
    </select>
    
    <select id="detailComment" parameterType="String" resultType="HashMap">
    	SELECT comment_no,board_no,comment_writer,comment_depth,comment_root,comment_time,member_name,comment_content,member_id,comment_cnt
    	FROM commentview
    	WHERE board_no=${ board_no }
    	ORDER BY comment_root DESC;
    </select>
   
   <update id="boardUpdate" parameterType="HashMap">
   		UPDATE board SET board_title= '${board_title}', board_content = '${board_content}'
   		WHERE board_no = ${ board_no }
   </update>
    
   <insert id="boardComment" parameterType="HashMap" statementType="CALLABLE">
		{CALL
             RootComment(
                #{board_no, mode=IN,jdbcType=INTEGER}
                ,#{member_id, mode=IN,jdbcType=VARCHAR}
                ,#{comment_content, mode=IN,jdbcType=VARCHAR}
         	 )
         }
   </insert>
   
   <update id="boardRead" parameterType="String">
   		UPDATE board SET board_read = board_read + 1 WHERE board_no=${ board_no }
   </update>
   
   <update id="boardLike" parameterType="String">
   		UPDATE board SET board_like = board_like + 1 WHERE board_no=${ board_no }
   </update>
   
   <select id="boardLikeAjax" parameterType="String" resultType="String">
   		SELECT board_like FROM boardview WHERE board_no = ${ board_no }
   </select>
   
   <update id="boardDelete" parameterType="String">
   		UPDATE board SET status_no = 2 WHERE board_no = ${board_no}
   </update>
   
    <update id="boardCommentDel" parameterType="String">
   		UPDATE board_comment SET status_no = 2 WHERE
   		if((SELECT comment_depth FROM board_comment WHERE comment_no = ${ comment_root } ) = 0 , comment_root = ${ comment_no }, comment_no = ${ comment_no })
   </update>
   <insert id="boardSubComment" parameterType="HashMap">
		INSERT INTO board_comment SET
    	board_no = #{board_no}
    	,comment_writer = (SELECT member_no FROM member WHERE member_name = #{ member_name })
    	,comment_content = #{ subComment_content }
    	,comment_depth = 1
    	,comment_root = #{ comment_root }
   </insert>
   
</mapper>