<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store">

    <select id="iconList" resultType="HashMap">
        SELECT product_no, product_name, product_price, product_update, product_sell_cnt, emo_img_name, emo_img_extension, (SELECT member_name FROM member m WHERE m.member_no = p.member_no) as member_name
            FROM product p
                WHERE
                    emoticon_authority = 1
                AND
                    product_sell_cnt > 0
                ORDER BY product_no DESC
            LIMIT 0, 8
    </select>

    <select id="selectProductLog" parameterType="HashMap" resultType="Integer">
        SELECT COUNT(*) FROM product_log
            WHERE
                emo_no IN <foreach open="(" close=")" separator="," collection="cart" item="cart">#{cart}</foreach>
            AND
                member_no = (SELECT member_no FROM member WHERE member_id = #{member_id});
    </select>

    <insert id="shoppingBagInsert" parameterType="HashMap">
        INSERT INTO shopping_cart  (member_no, product_no, sell_type)
            VALUES
                <foreach collection="cart" item="cart" separator=",">
                ( (SELECT member_no FROM member WHERE member_id = #{member_id}), #{cart}, #{sell_type} )
                </foreach>
    </insert>

    <select id="selectPayShoppingBag" parameterType="String" resultType="HashMap">
        SELECT emo_img_name, emo_img_extension, sc.product_no, product_name, product_price, (SELECT member_name FROM member WHERE member_id = (SELECT member_id FROM member WHERE member_no = p.member_no) ) as seller_name
            FROM product p JOIN shopping_cart sc ON p.product_no = sc.product_no
                WHERE
                    emoticon_authority = 1
                AND
                    sc.sell_type = 'pay'
                AND
                    sc.member_no = (SELECT member_no FROM member WHERE member_id = #{memberId})
    </select>

    <select id="selectGiftShoppingBag" parameterType="String" resultType="HashMap">
        SELECT emo_img_name, emo_img_extension, product_name, product_price, (SELECT member_name FROM member WHERE member_id = (SELECT member_id FROM member WHERE member_no = p.member_no) ) as seller_name
            FROM product p JOIN shopping_cart sc ON p.product_no = sc.product_no
                WHERE
                    emoticon_authority = 1
                AND
                    sc.sell_type = 'gift'
                AND
                    sc.member_no = (SELECT member_no FROM member WHERE member_id = #{memberId})
    </select>

    <select id="couponList" resultType="HashMap">
        SELECT coupon_type, coupon_name, coupon_content, coupon_end
            FROM coupon
    </select>

    <select id="checkPoint" parameterType="String" resultType="Integer">
        SELECT member_point
            FROM point
                WHERE
                    member_no = (SELECT member_no FROM member WHERE member_id = #{memberId})
    </select>

    <update id="updatePoint" parameterType="HashMap">
        UPDATE point
            SET
                member_point = member_point - #{pay_price}
        WHERE
            member_no = (SELECT member_no FROM member WHERE member_id = #{member_id})
    </update>

    <insert id="insertPointLog" parameterType="HashMap">
        INSERT INTO point_log (member_no, change_no, change_amount)
            VALUES
                ((SELECT member_no FROM member WHERE member_id = #{member_id}), 4, -#{pay_price})
    </insert>

    <update id="productSellCountDown" parameterType="HashMap">

        UPDATE product
            SET
                product_sell_cnt = product_sell_cnt - 1
            WHERE

                product_no IN<foreach collection="icons" item="icons" open="(" close=")" separator=",">#{icons}</foreach>

    </update>

    <insert id="insertProductNo" parameterType="HashMap">
        INSERT INTO product_log (emo_no, member_no)
            VALUES
            <foreach collection="icons" item="icons" separator=",">
                (#{icons}, (SELECT member_no FROM member WHERE member_id = #{member_id}))
            </foreach>
    </insert>

    <delete id="deleteCart" parameterType="HashMap">
        DELETE FROM shopping_cart
            WHERE
                member_no = (SELECT member_no FROM member WHERE member_id = #{member_id})
    </delete>

</mapper>