@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#container{
	width: 100%;
	height: 100vh;
}
h1{
	margin: 20px 0 23px 0;
}
th, tr{
	text-align: center;
}
.hr1{
	margin: 0;
	padding: 0;
	width: 100%;
}
.header{
	width: 210px;
	height: 100vh;
	background-color: rgb(224,224,224);
	overflow: hidden;
	position: absolute;
	float: left;
}
.logo{
	margin: 0;
	padding: 0;
	margin-left: 40px;
	width: 120px;
}

.main{
	width: calc(100% - 210px);
	height: 100vh;
	float: right;
	background-color: #FAFAFA;
}

.menu-item{
	width: 200px;
	height: 50px;
	overflow: hidden;
	color: white;
	margin: 5px;
	box-sizing: border-box;
	background-color: rgb(94,94,94);
	border-radius: 15px;
	line-height: 50px;
	border: 1px solid white;
	margin-top: 7px;
}

.menu-item:first-child{
	margin-top: 13px;
}
.adminuser{
	width: 200px;
	height: 50px;
	overflow: hidden;
	margin: 5px 0 5px 0;
	padding: 0;
	box-sizing: border-box;
	border-radius: 15px;
	line-height: 50px;
}

.adminuser img{
	margin: 0 20px 0 10px;
	vertical-align: middle;
}

.menu-item img{
	margin: 5px;
	margin-right:10px;
	margin-top: 0;
	vertical-align: middle;
}
.menu-item:hover {
	background-color: red;
	border-radius: 15px;
	/* font-size: large; */
	font-weight: bold;
	color: white;
}

.graph{
	background-color: green;
	position: relative;
/* 	display: block; */
}

.graph1 {
	width: 350px;
	height: 350px;
	position: absolute;
}
.graph2 {
	width: 350px;
	height: 350px;
	position: absolute;
	left: 500px;
}
.graph3 {
	width: 350px;
	height: 350px;
	position: absolute;
	top: 400px;
}
.graph4 {
	width: 350px;
	height: 350px;
	position: absolute;
	top: 400px;
	left: 500px;
}