@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#container{
	width: 100%;
	height: 100vh;
}
.container{
	margin: 30px 0 40px 80px;
}
h1{
	margin: 30px 0 23px 40px;
}
th, tr{
	text-align: center;
}
.hr1{
	margin: 0;
	padding: 0;
	width: 100%;
}

/* adminLogout */
.adminlogout{
	text-align: center;
	margin-bottom: 5px;
}

/* adminPaging*/
.pagingBox{	width:700px; margin:0 auto; }
.pagingList{
	margin:0;
	padding:0;
	list-style: none;
	display: flex;
	justify-content: start;
	justify-content: center;
	font-size: 13px;
}
.pageNo{	
	cursor: pointer;
	width:30px;
	height:30px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
}
.pageNo:hover{ background-color: #d3d3d3; }
.page_btn{
	background-color: #6867AC;
	margin:0 2px;
	color:white;
	font-weight: bold;
	font-size: 14px;
}
.page_btn:hover{ background-color: #8887cc; }

/* adminSearch bar */
.searchForm{ display: flex; justify-content: center; }
.search_btn{
	background-color: #6867AC;
	border:none;
	border-radius: 5px;
	font-size: 15px;
	width:60px;
	height:30px;
	color:white;
	font-weight: bold;
}

/* adminMenu*/
.header{
	width: 210px;
	height: 100%;
	background-color: rgb(224,224,224);
	overflow: hidden;
	position: absolute;
	float: left;
}
.logo{
	margin: 0;
	padding: 0;
	margin-left: 40px;
	width: 120px;
}

.main{
	width: calc(100% - 210px);
	height: 100vh;
	float: right;
	background-color: #FAFAFA;
}

.menu-item{
	width: 200px;
	height: 50px;
	overflow: hidden;
	color: white;
	margin: 5px;
	box-sizing: border-box;
	background-color: rgb(94,94,94);
	border-radius: 15px;
	line-height: 50px;
	border: 1px solid white;
	margin-top: 7px;
	cursor: pointer;
}

.menu-item:first-child{
	margin-top: 13px;
}
.adminuser{
	width: 200px;
	height: 50px;
	overflow: hidden;
	margin: 5px 0 5px 0;
	padding: 0;
	box-sizing: border-box;
	border-radius: 15px;
	line-height: 50px;
}

.adminuser img{
	margin: 0 20px 0 10px;
	vertical-align: middle;
}

.menu-item img{
	margin: 5px;
	margin-right:10px;
	margin-top: 0;
	vertical-align: middle;
}
.menu-item:hover {
	background-color: red;
	border-radius: 15px;
	/* font-size: large; */
	font-weight: bold;
	color: white;
}

/* admin main css */
.mboard{
	width: 850px;
	height: 750px;
/* 	border: 1px solid black; */
	position: relative;
	margin: 50px 0 30px 50px;
/* 	display: block; */
}
.mtoday{
	margin: 30px 50px 50px 20px;
	height: 150px;
	font-size: 18px;
	padding: 5px;
}

.mtoday > hr.hr1 {
  margin: 5px 0;
}

.mth {
	font-size: 30px;
	font-weight: bold;
	margin-left: 10px;
}

.mtc1{
	margin-top: 15px;
	margin-left: 25px;
	margin-bottom: 5px;
	width: 150px;
	height: 30px;
/* 	border: 1px solid black; */
}

.mtc2{
	margin-left: 25px;
	margin-bottom: 5px;
	width: 150px;
	height: 30px;
/* 	border: 1px solid black; */
}
.mtc3{
	margin-left: 25px;
	margin-bottom: 5px;
	width: 150px;
	height: 30px;
/* 	border: 1px solid black; */
}


/* 아직안한것들 */
.mtable{
	position: absolute;
	left: 0;
}
.mbar{
	position: absolute;
	right: 0;
}



/* 통계css */

canvas{
	width: 330px;
	height: 250px;
}





/*
.graph1 {
	width: 350px;
	height: 350px;
	position: absolute;
	border: 1px solid black;
	line-height: inherit;
	text-align: center;
}
*/
