@charset "UTF-8";

.menu {
   width: 100%;
   height: 50px;
   background-color: orange;
}

.login-btn{
   float: right;
   margin-right: 1%;
   line-height: 38px;
   border: none;
}

.menu-list{
   float: right;
   line-height: 50px;
   border: none;
}

.btn-none{
   border: none;
}

.my-bar{
   width:200px;
   background-color: yellowgreen;
}
.board{
   line-height: 90px;
   width: 250px;
   text-align: center;
   color: white;
}
.board:hover{
   background-color: #F05650;
   cursor: pointer;
}

.logo{
   width:200px;
   display: inline-block;
   background-color: yellow;
   line-height: 90px;
   text-align: center;
}

.menu-lists{
   background-color: red;
   width: 100%;
   height: 90px;
   display: flex;
}
.menu_list2{
	display: flex;
	margin:0 auto;
	width:1200px;
}